* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fb;
    color: #1f2937;
}

.auth-container {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px 20px;
}

.auth-card {
    width: 100%;
    max-width: 430px;

    background-color: white;

    padding: 40px;

    border-radius: 12px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.auth-card h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

.auth-card h2 {
    font-size: 24px;
    margin-bottom: 8px;
}

.auth-description {
    color: #6b7280;
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    margin-bottom: 7px;
    font-weight: 600;
}

.form-group input {
    width: 100%;

    padding: 12px 14px;

    border: 1px solid #d1d5db;
    border-radius: 7px;

    font-size: 15px;

    outline: none;
}

.form-group input:focus {
    border-color: #2563eb;
}

button {
    width: 100%;

    padding: 13px;

    border: none;
    border-radius: 7px;

    background-color: #2563eb;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

button:hover {
    background-color: #1d4ed8;
}

.auth-footer {
    margin-top: 20px;

    text-align: center;

    color: #6b7280;
}

.auth-footer a {
    color: #2563eb;
    text-decoration: none;
    font-weight: 600;
}
.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    color: #2563eb;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password a:hover {
    text-decoration: underline;
}
